<head>
    <link rel="stylesheet" href="signup.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
</head>
<body>
  <header>
    <h1>Bot<span>BANK</span></h1>
    <h2>Add a New Client!</h2>
  </header>
  
  <form class="form" action="/add" method="post">
            
            <input class="todoInput" type="text" id ="name" name="name"  placeholder="Client Name" required/>
            <br><br><br><br><br>
            
            
            <h2><label for="comp1">Company 1:</label></h2>
            <input class="todoInput" type="text" id ="comp1" name="comp1"  placeholder="Company Index" required/>
            <br><br>
            <input class="todoInput" type="date" id ="comp1Date" name="comp1Date"  placeholder="Date Purchased" required/>
            <br><br>
            <input class="todoInput" type="number" id ="comp1Quanity" name="comp1Quanity"  placeholder="Quantity" required/>
            
            <br><br><br>
            
            <h2><label for="comp2">Company 2:</label></h2>
            <input class="todoInput" type="text" id ="comp2" name="comp2"  placeholder="Company Index" />
            <br><br>
            <input class="todoInput" type="date" id ="comp2Date" name="comp2Date"  placeholder="Date Purchased" />
            <br><br>
            <input class="todoInput" type="number" id ="comp2Quanity" name="comp2Quanity"  placeholder="Quantity" />
            
            <br><br><br>
            
            <h2><label for="comp3">Company 3:</label></h2>
            <input class="todoInput" type="text" id ="comp3" name="comp3"  placeholder="Company Index" />
            <br><br>
            <input class="todoInput" type="date" id ="comp3Date" name="comp3Date"  placeholder="Date Purchased" />
            <br><br>
            <input class="todoInput" type="number" id ="comp3Quanity" name="comp3Quanity"  placeholder="Quantity" />
            
            
            <br><br><br>
            
            <input name="senderId" type="hidden" id="fbid">
            <center>
            <input id="signupbut" type="submit" value="Add Client">
            </center>
            
  </form>

  <ul class="list">
  </ul>

<script>
  $(document).ready(function() {
   var url = document.URL;

   
   var fbid = url.substring(url.indexOf('?')+1);
   var parts = fbid.split( '=', 2 );

   console.log(parts); 
   console.log("Im here getting senderId ");
   
   document.getElementById('fbid').setAttribute('value',parts[1])
});
</script>
</body>